<nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a class="brand-logo center" href="/stories">Story Books</a>
      <a class="button-collapse show-on-large" href="#"
        data-activates="main-menu">
        <i class="fa fa-bars"></i>
      </a>

      <ul class="right hide-on-small-only">
        {{#if user}}
          <li><a href="/dashboard">Welcome {{user.firstName}}</a></li>
          <li>
            <a href="/auth/signout">
              <i class="fa fa-sign-out"></i>
              &nbsp;Sign Out
            </a>
          </li>
        {{else}}
          <li>
            <a href="/stories">
              <i class="fa fa-book"></i>
              &nbsp;Public Stories
            </a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
